# Byte-compiled / cache
__pycache__/
*.python-version
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db

# Virtual environments
.venv/
env/
venv/

# uv
uv.lock

# Logs
*.log

# Testing
.coverage
.pytest_cache/
.tox/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/

# openapi.json
openapi.json
